.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ffb8b8 2%, #f3cb62);
}

.about img {
  height: 10rem;
}
.about div {
  width: 80%;
  height: 100vh;

  background-color: #ff9b69;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 1;
}

.about div ul:first-child {
  width: 26rem;
}

.about div ul:last-child {
  width: 26rem;
}

@media (max-width: 500px) {
  .about div ul:first-child {
    width: unset;
    margin: 0.3rem;
  }

  .about div ul:last-child {
    width: unset;
    margin: 0.3rem;
  }

  .about img {
    height: 6rem;
  }
}
