.contact {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f3cb62 2%, #ffb8b8);
}

.contact .button {
  border: none;
  font-size: 1rem;
  background: white;
  color: gray;
  border-radius: 0.3rem;
  padding: 0.4rem;
  cursor: pointer;
  margin-top: 1rem;
}

.contact-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-form {
  font-family: "Kefa PressS";
  height: 35rem;
  width: 40rem;
  background-color: #ff9a6779;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 1rem;
}

.contact-form p {
  font-size: 2rem;
  margin: 0.5rem;
}

.contact-form h3 {
  margin: 0.5rem;
}

.contact-form input {
  min-width: 10rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
}

.contact-form textarea {
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  min-width: 569px;
  margin: 0 1rem;
}

@media (max-width: 700px) {
  .contact-form textarea {
    min-width: 450px;
  }
}

@media (max-width: 500px) {
  .contact-form textarea {
    min-width: unset;
  }
}
