.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ff9a67;
  color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.none {
  animation: noheader 0.4s forwards ease-in-out;
}

@keyframes noheader {
  0% {
    opacity: 100%;
    top: 0;
  }

  100% {
    opacity: 0%;
    top: -10rem;
  }
}

.header img {
  width: 18rem;
}

.hamburger {
  font-size: 2rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: white;
  cursor: pointer;
  z-index: 20;
}

.logo-container {
  margin-top: 1rem;
  display: flex;
  height: 7rem;
  width: 100%;
  z-index: 10;
  background-color: #ff9a67;
  position: relative;
  justify-content: center;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 2rem;
  background-color: #ff9a67;
  color: white;
  border-top: 1px solid #f3cb62;
  z-index: 3;
}

.navbar-scroll {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.5rem;
  background-color: #ff9a67;
  color: white;
  z-index: 10;
  position: fixed;
  opacity: 50%;
  border-bottom: 1px solid #f3cb62;
}
.navbar-scroll:hover {
  opacity: 100%;
}

.navbar-scroll p {
  cursor: pointer;
}

.show {
  animation: naveffect 0.2s ease-in-out forwards;
}

.hide {
  animation: reversenaveffect 0.2s ease-in-out forwards;
}

@keyframes naveffect {
  0% {
    top: 3rem;
    position: fixed;
  }
  100% {
    position: fixed;
    top: 8rem;
  }
}

@keyframes reversenaveffect {
  0% {
    top: 8rem;
    position: absolute;
  }
  100% {
    position: absolute;
    top: 3rem;
  }
}

.header .navbar p {
  margin: 0.2rem;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.arrowUp {
  font-size: 3rem;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  z-index: 20;
  animation: bounce 0.8s infinite, show 1s forwards ease-in-out;
}

.arrowUp .arrow {
  color: rgba(255, 255, 255, 0.286);
  bottom: 1rem;
  cursor: pointer;
}

.arrowUp .arrow:hover {
  color: rgb(255, 255, 255);
  scale: 1.2;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes bounce {
  0% {
    bottom: 1.2rem;
  }

  50% {
    bottom: 1rem;
  }

  100% {
    bottom: 1.2rem;
  }
}
