.main {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 8rem);
  padding-top: 8rem;
  background: linear-gradient(135deg, #f3cb62 2%, #ffb8b8);
}

.main .main-content {
  background-image: url(../assets/jimi.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  color: white;
  animation: slideIn 0.8s ease-in forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0%;
    background-position-x: -40rem;
  }
  100% {
    opacity: 100%;
    background-position-x: -5rem;
  }
}

.main-text {
  display: flex;
  flex-direction: column;

  /* background: #00000012; */
  background-image: linear-gradient(
    90deg,
    transparent 38%,
    rgb(255, 155, 104) 60%
  );
  align-items: flex-end;
  padding-right: 8rem;
  margin-top: 3rem;
}
.main-text h1 {
  margin: 0;
  font-size: 60px;
}

.main-text h2 {
  font-size: 40px;
  margin: 0;
}

@media (max-width: 1000px) {
  .main-text {
    padding-right: 2rem;
  }
}

@media (max-width: 700px) {
  .main-text h1 {
    margin: 0;
    font-size: 50px;
  }

  .main-text h2 {
    font-size: 25px;
    margin: 0;
  }

  .main-text {
    background-image: linear-gradient(
      90deg,
      transparent 20%,
      rgb(255, 155, 104) 52%
    );
  }
}

@media (max-width: 400px) {
  .main-text h1 {
    font-size: 40px;
  }

  .main-text h2 {
    font-size: 20px;
  }
}
