.main {
  display: flex;
  flex-direction: row;
}

.main .left {
  background-image: url(../assets/jimi.png);
  width: 100%;
}

.main .right {
  width: 100%;
}

.main .right div {
  display: flex;
  flex-direction: column;
  color: white;
}

.main .right div h1 {
  margin: 0;
}
